<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
		<services>
			<service name="LiveScoreSystem.LiveScoreService" behaviorConfiguration="LiveScoreBehavior">
				<endpoint address="LiveScoreService" binding="basicHttpBinding" contract="LiveScoreSystem.ILiveScoreService" >
					
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="LiveScoreBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
    </system.serviceModel>
</configuration>